@import './config.scss';

.container-login{

    .logo {
        width: 178.35px;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .input{
        display: flex;
        flex-direction: row;
        padding: 10px;

        img {
            width: 16px;
            height: 16px;
            margin-right: 10px;
            margin-top: 3px;
        }

        input {
            width: 224px;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: $primaryColor;
            border-radius: 0px;
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0.1em;
            border-color: $mediumGreyColor;
            padding-bottom: 8px;

            outline: none;

            &:focus {
                border-color: $primaryColor;
            }

            &::placeholder{
                color: $mediumGreyColor;
                opacity: 1;
            }

            &:-ms-input-placeholder{
                color: $mediumGreyColor;
            }

            &::-ms-input-placeholder{
                color: $mediumGreyColor;
            }
        }
    }
}